.container-fluid {
    background: linear-gradient( rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)), url("http://wallpapercave.com/wp/ZEo5kVT.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 900px;
}

.questions {
    margin-top: 30px;
    color: white;
    font-size: 30px;
}

.high-scores {
    margin-left: 40px;
}

.show {
    display: default;
}
.hide{
  display: none;
}


.high-score-header{
    color: white;
}
.start-test{
    margin: auto;
}
.test-end{
    color: white;
}

.btn-default {
    width: 600px;
    margin-top: 20px;
    background: linear-gradient( rgba(1, 1, 1, 0.5), rgb(6, 60, 154));
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.Timer {
    font-size: 20px;
    background-color: rgba(6, 60, 154, 0.8);
    color: white;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    border: 3px solid white;
}
.form-control{
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 50%;
}

ol {
    font-size: 14px;
    background-color: rgb(6, 105, 162);
    color: white;  
    max-width: 250px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-left: 10px;


}

h1 {
    text-align: center;
    font-size: 24px;
    color: white;
}

.btn-success {}
